@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header{
    display: flex;
    justify-content: space-around;
}

body{
    margin: 0; 
    padding: 0; 
    font-family: Montserrat;
    background-color: rgb(248, 246, 235)
}

.barradenavegacion li a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(154, 8, 8);
    font-weight: bold;
    padding: 15px;
    display: block;
}

.barradenavegacion{
    list-style: none;
    display: flex;
}

.f{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.fotoinicio{
    margin: 10px auto;
    height: 550px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px 1px rgba(60, 60, 60, 0.2);
}

.loguito{
    height: 30px;
}

.navbar-expand-lg .navbar-collapse{
    flex-direction: row-reverse;
}

.logo{
    height: 90px;
    width: auto;
    display: block;
    
}

.logo-container{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    gap: 20px;
    width: 100%;
}

.encabezado{
    display: flex;
    flex-direction:column;
    padding: 20px;
}

.encabezado1{
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
}


main{
    display: flex;
    align-items: center;
    flex-direction: column;
    }

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: o auto;
    }

.presentacion{
    color: rgb(23, 23, 29);
    font-size: 20px;
    font-weight: 500 ;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.fabrica{
    font-size: 30px;
    color: rgb(23, 23, 29);
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: center;
}

.piepie{
    color: rgb(23, 23, 29);
    font-size: 17px;
    font-weight: 500;
    margin: 0 auto;



}
.footer{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Pag tienda */


.encabezados{
text-align: center;
display: flex;
flex-direction: column;
align-items: flex-end;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.titulotienda{
    font-size: 40px;
    color: rgb(23, 23, 29);
    
}

.subtitulotienda{
    font-size: 20px;
    margin-top: 10px;
}
.fotodebolsa{
    margin-top: 10px;
    height: 300px;
    box-shadow: 1px 1px 1px 1px rgba(60, 60, 60, 0.2);
}

p{
    margin: 10px auto 0;
    font-size: 14px;
    font-weight: bold;
    color: rgb(23, 23, 29);
    text-align: center;
}

.precio{
    margin: 0 auto;
}
.tiendaenorden{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

/* pag galeria */


.titulogaleria{
    font-size: 40px;
    color: rgb(23, 23, 29);
    text-align: center;
    margin: 0 auto 20px;
}

.parrafo-galeria{
    color: rgb(23, 23, 29);
    font-size: 20px;
    margin: 0 0 50px 0;
}

.carrusel{
    box-shadow: 1px 1px 12px 5px rgba(67, 65, 65, 0.2);
}


/* nosotras */

.nosotras{
    text-align: center;
    font-size: 40px;
}

.parrafosnos{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    margin: 20px auto;
}
.parrafo-nosotras{
    margin-top: 20px;
    color: rgb(23, 23, 29);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

.logonosotras{ 
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

/* contacto */

.contacto{
    font-size: 40px;
    text-align: center;
}
.sub-contacto{
    font-size: 20px;
    color: rgb(23, 23, 29);
    margin-left: 20px;
}

.contactos{
    font-size: 17px;
    color: rgb(23, 23, 29);
    font-weight: 500;
    margin-left: 20px;
}
.redessociales{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.contactoredes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    align-items: end;

}
.fcontacto{
    list-style: none;
    color: rgb(154, 8, 8);
    font-weight: 400 bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.imgcontactof{
    height: 100px;
    
}

.imgcontactoi{
    height: 75px;
}

.imgcontactow{
height: 90px;
}

.mapa{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto 0;
    gap: 10px;

}

    
    @media (max-width: 1110px){
        .encabezado1{
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    
        .titulo-principal{
            text-align: center;
            margin: 10px 0;
        }
        .logo-container {
            justify-content: center;
        }
        .fabrica {
            font-size: 24px;
            text-align: center;
            margin: 10px 0;
        }
        
        .presentacion{
            font-size: 18px;
        }

        .barradenavegacion {
            font-size: 20px;
            justify-content: center;
            margin-top: 10px 0;
        }
    
        .videointro {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }


    }
    
    @media(max-width:810px){
        .encabezado1 {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    
        .logo-container {
            flex-direction: column;
            align-items: center;
        }

        .presentacion{
            font-size: 15px;
        }
        
        .fotoinicio{
            height: 400px;
        }

        .f{
            flex-direction: column;
            flex-wrap: wrap;
        }
    
        .fabrica {
            text-align: center;
            font-size: 25px;
            margin: 8px 0;
        }

    
        .barradenavegacion {
            flex-direction: row;
            align-items: center;
            gap: 1px;
            margin-top: 10px;
            
        }
    
        .barradenavegacion li {
            margin: 2px;
    
        }

        .videointro {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    
        .videos{
        flex-direction: column;
    }

        .videoinicio {
            width: 90%;
            max-width: 500px;
            height: auto;
    }

        .titulotienda{
        font-size: 25px;
    }

    .subtitulotienda{
        font-size: 20px;
    }
    .tiendaenorden {
    grid-template-columns: 1fr; 
    row-gap: 20px;
    padding: 0 10px;
}

    .fotodebolsa {
    width: 70%;
    height: auto;
}

    section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .precio, p {
    font-size: 14px;
    text-align: center;
}
    }
    
    @media (max-width:510px){

        .encabezado1 {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding: 10px;
    }
    .barradenavegacion li a{
            padding: 0;
        }

    .logo-container {
        flex-direction: column;
        align-items: center;
    }
    
    .titulo-principal {
        font-size: 28px;
        text-align: center;
    }
    
    .fabrica {
        font-size: 18px;
        text-align: center;}
    
    .barradenavegacion {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        gap: 10px;}
    
    .barradenavegacion li {
        margin: 5px 0;}
    }

    
@media(max-width:620px){


    }